[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
pandas = "*"
plotly = "*"
konlpy = "*"
seaborn = "*"
sklearn = "*"
wordcloud = "*"
flask = "*"
gunicorn = "*"
selenium = "*"
webdriver-manager = "*"
torch = "*"
torchvision = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.10"
